.img_trans {
  width: 100%;
  max-width: 1326px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.img_trans .case_top li {
  width: 33.33%;
  background: #343e4a;
  float: left;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
  border-left: 1px solid #fff;
  margin-left: -1px;
  font-size: 16px;
}
.img_trans .case_top li:hover {
  background: #4d8cf4;
}
.img_trans .trans_left {
  float: left;
  width: 50%;
  background: #feffff;
}
.img_trans .trans_left .left_top {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #4d8cf4;
}
.img_trans .trans_left .left_top .num {
  display: inline-block;
  padding-top: 15px;
}
.img_trans .trans_left .left_top ul {
  float: right;
}
.img_trans .trans_left .left_top ul li {
  float: left;
}
.img_trans .trans_left .left_top ul li img {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 5px;
}
.img_trans .trans_left .left_top ul li:hover {
  background: #fff;
}
.img_trans .trans_left .left_top ul li + li {
  margin-left: 30px;
}
.img_trans .trans_left .left_top ul .list img,
.img_trans .trans_left .left_top ul .result img {
  margin-left: 20px;
}
.img_trans .trans_left .left_content {
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-bottom: none;
}
.img_trans .trans_left .left_content img {
  height: 100%;
  width: 100%;
}
.img_trans .trans_right {
  float: right;
  width: 50%;
  background: #feffff;
}
.img_trans .trans_right .right_top {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #4d8cf4;
}
.img_trans .trans_right .right_top .num {
  display: inline-block;
  padding-top: 15px;
}
.img_trans .trans_right .right_top ul {
  float: right;
}
.img_trans .trans_right .right_top ul li {
  float: left;
}
.img_trans .trans_right .right_top ul li img {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 5px;
}
.img_trans .trans_right .right_top ul li:hover {
  background: #fff;
}
.img_trans .trans_right .right_top ul li + li {
  margin-left: 30px;
}
.img_trans .trans_right .right_top ul .list img {
  margin-left: 20px;
}
.img_trans .trans_right .right_content {
  width: 93%;
  height: 100%;
  margin-left: 20px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-bottom: none;
  resize: none;
  outline: none;
}
