    .img_trans {
        width: 100%;
        max-width: 1326px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        .case_top {
            li {
                width: 33.33%;
                background: #343e4a;
                float: left;
                height: 48px;
                line-height: 48px;
                text-align: center;
                color: #fff;
                border-left: 1px solid #fff;
                margin-left: -1px;
                font-size: 16px;
            }
            li:hover {
                background: #4d8cf4;
            }
        }
        .trans_left {
            border-right: 2px solid #ccc;
            float: left;
            width: 50%;
            background: #feffff;
            .left_top {
                margin-left: 20px;
                margin-right: 20px;
                padding-top: 10px;
                padding-bottom: 20px;
                border-bottom: 2px solid #4d8cf4;
                .num {
                    display: inline-block;
                    padding-top: 15px;
                }
                ul {
                    float: right;
                    li {
                        float: left;
                        img {
                            width: 20px;
                            height: 20px;
                            display: block;
                            margin-left: 5px;
                        }
                    }
                    li:hover {
                        background: #fff;
                    }
                    li+li {
                        margin-left: 30px;
                    }
                    .list,
                    .result {
                        img {
                            margin-left: 20px;
                        }
                    }
                }
            }
            .left_content {
                margin-left: 20px;
                margin-right: 30px;
                margin-top: 20px;
                border: 2px solid #ccc;
                border-bottom: none;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .trans_right {
            float: right;
            width: 50%;
            background: #feffff;
            margin-right: -2px;
            .right_top {
                margin-left: 20px;
                margin-right: 20px;
                padding-top: 10px;
                padding-bottom: 20px;
                border-bottom: 2px solid #4d8cf4;
                .num {
                    display: inline-block;
                    padding-top: 15px;
                }
                ul {
                    float: right;
                    li {
                        float: left;
                        img {
                            width: 20px;
                            height: 20px;
                            display: block;
                            margin-left: 5px;
                        }
                    }
                    li:hover {
                        background: #fff;
                    }
                    li+li {
                        margin-left: 30px;
                    }
                    .list{
                        img {
                            margin-left: 20px;
                        }
                    }
                }
            }
            .right_content {
                width: 93%;
                height: 100%;
                margin-left: 20px;
                margin-top: 20px;
                border: 2px solid #ccc;
                border-bottom: none;
                resize: none;
                outline: none;
            }
        }
    }