.widthMargin {
  width: 1200px;
  margin: 0 auto;
}
.header {
  height: 50px;
  line-height: 50px;
  background: #4c8bf4;
  color: #fff;
}
.header .main {
  width: 1200px;
  margin: 0 auto;
}
.header .main .userMsg {
  text-align: right;
  line-height: 20px;
  font-size: 12px;
  margin-top: 4px;
}
.header .main .userMsg span {
  padding-left: 20px;
}
.header .main .userMsg span.user {
  background: url('../img/icon-user.png') left center no-repeat;
  margin-right: 20px;
}
.header .main .userMsg span.logOut {
  background: url('../img/icon-logOut.png') left center no-repeat;
  margin-left: 20px;
}
.header .main .userMsg p {
  font-size: 14px;
}
.trans_father {
  position: absolute;
  width: 100%;
}
.trans_father .img_trans {
  padding-top: 20px;
  max-width: 1326px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.trans_father .img_trans .case_top li {
  width: 33.33%;
  background: #343e4a;
  float: left;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
  border-left: 1px solid #fff;
  margin-left: -1px;
  font-size: 16px;
}
.trans_father .img_trans .case_top li:hover {
  background: #4d8cf4;
}
.trans_father .img_trans .trans_left {
  border-right: 2px solid #ccc;
  float: left;
  width: 50%;
  background: #feffff;
}
.trans_father .img_trans .trans_left .left_top {
  margin-left: 36px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #4d8cf4;
}
.trans_father .img_trans .trans_left .left_top .num {
  display: inline-block;
  padding-top: 15px;
}
.trans_father .img_trans .trans_left .left_top ul {
  float: right;
}
.trans_father .img_trans .trans_left .left_top ul li {
  text-align: center;
  font-size: 16px;
  float: left;
}
.trans_father .img_trans .trans_left .left_top ul li span img {
  margin: 0 auto;
  padding-bottom: 5px;
  display: block;
}
.trans_father .img_trans .trans_left .left_top ul li:hover {
  background: #fff;
  color: #4d8cf4;
}
.trans_father .img_trans .trans_left .left_top ul li + li {
  margin-left: 15px;
}
.trans_father .img_trans .trans_left .left_content {
  margin-left: 36px;
  margin-right: 20px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-bottom: none;
}
.trans_father .img_trans .trans_left .left_content img {
  height: 100%;
  width: 100%;
}
.trans_father .img_trans .trans_right {
  float: right;
  width: 50%;
  background: #feffff;
  margin-right: -2px;
}
.trans_father .img_trans .trans_right .right_top {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #4d8cf4;
}
.trans_father .img_trans .trans_right .right_top .num {
  display: inline-block;
  padding-top: 15px;
}
.trans_father .img_trans .trans_right .right_top ul {
  float: right;
}
.trans_father .img_trans .trans_right .right_top ul li {
  text-align: center;
  font-size: 16px;
  float: left;
}
.trans_father .img_trans .trans_right .right_top ul li span img {
  margin: 0 auto;
  padding-bottom: 5px;
  display: block;
}
.trans_father .img_trans .trans_right .right_top ul li:hover {
  background: #fff;
  color: #4d8cf4;
}
.trans_father .img_trans .trans_right .right_top ul li + li {
  margin-left: 10px;
}
.trans_father .img_trans .trans_right .right_top ul .list img {
  margin-left: 20px;
}
.trans_father .img_trans .trans_right .right_content {
  width: 93%;
  height: 100%;
  margin-left: 20px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-bottom: none;
  resize: none;
  outline: none;
}
.trans_father .fixedBox {
  position: absolute;
  left: 20px;
  top: 68px;
  bottom: 0;
  border-top: 1px solid #576171;
  width: 0;
  font-size: 14px;
  line-height: 1.2em;
  z-index: 10000;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}
.trans_father .fixedBox .cases {
  display: none;
  overflow: hidden;
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
}
.trans_father .fixedBox .cases > ul {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 317px;
  background: #353f4b;
  display: block;
  overflow-y: scroll;
}
.trans_father .fixedBox .cases > ul > li span {
  height: 48px;
  line-height: 48px;
  background: #576171;
  display: block;
  text-align: center;
}
.trans_father .fixedBox .cases > ul > li ul li {
  width: 300px;
  text-align: center;
}
.trans_father .fixedBox .cases > ul > li ul li a {
  display: block;
  height: 48px;
  line-height: 48px;
  color: #fff;
  width: 240px;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid #0f0e14;
}
.trans_father .fixedBox .cases > ul > li ul .active a {
  color: #4c8bf4;
}
.trans_father .fixedBox #tip {
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
  line-height: 1.2em;
  width: 36px;
  padding: 10px;
  box-sizing: border-box;
  height: 100px;
  background: #4c8bf4;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
