    @baseColor: #4c8bf4;
.widthMargin {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 50px;
    line-height: 50px;
    background: @baseColor;
    color: #fff;
    .main {
        .widthMargin;
        .userMsg {
            text-align: right;
            line-height: 20px;
            font-size: 12px;
            margin-top: 4px;
            span {
                padding-left: 20px;
            }
            span.user {
                background: url('../img/icon-user.png') left center no-repeat;
                margin-right: 20px;
            }
            span.logOut {
                background: url('../img/icon-logOut.png') left center no-repeat;
                margin-left: 20px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}
    .see_write {
        width: 1200px;
        margin: 0 auto;
        background: #fff;
        .case_top {
            li {
                width: 33.33%;
                background: #343e4a;
                float: left;
                height: 48px;
                line-height: 48px;
                text-align: center;
                color: #fff;
                border-left: 1px solid #fff;
                margin-left: -1px;
                font-size: 16px;
            }
            li:hover {
                background: #4d8cf4;
            }
        }
        //3块模板
        .three_model {
            position: relative;
            ul {
                padding: 36px 39px 36px 69px;
                
                li {
                    float: left;
                    width: 338px;
                    height: 118px;
                    text-align: center;
                    line-height: 118px;
                    color: #fff;
                    span {
                        img {
                            margin-right: 30px;
                            vertical-align: middle;
                        }
                    }
                }
                li+li {
                    margin-left: 35px;
                }
                .one {
                    background: #4d8cf4;
                }
                .two {
                    background: #e48e05;
                }
                .three {
                    background: #069a45;
                }
            }
        }
    } // 历史 文书
    .historical {
        position: relative;
        width: 1090px;
        margin: 0 auto;
        background: #fff;
        padding: 65px 40px 30px 70px;
        .top {
            ul {
                li {
                    float: left;
                    width: 81px;
                    height: 32px;
                    margin-left: -1px;
                    border: 1px solid #4d8cf4;
                    line-height: 32px;
                    text-align: center;
                    color: #4d8cf4;
                }
                li:hover {
                    background: #4d8cf4;
                    color: #fff;
                }
                .last {
                    position: relative;
                    width: auto;
                    height: 32px;
                    margin-left: -1px;
                    border: none;
                    line-height: 32px;
                    text-align: center;
                    margin-left: 20px;
                    color: #4d8cf4;
                    input {
                        outline: none;
                        font-size: 12px;
                        width: 400px;
                        height: 100%;
                    }
                    img {
                        position: absolute;
                        right: 25px;
                        top: 10px;
                    }
                }
            }
        }
        .bottom {
            ul {
                li {
                    width: 100%;
                    height: 65px;
                    line-height: 65px;
                    border-bottom: 1px solid #ccc;
                    div {
                        display: inline-block;
                        font-size: 14px;
                    }
                    div+div {
                        margin-left: 195px;
                    }
                    .last {
                        color: #ca2f41;
                        img {
                            width: 20px;
                            height: 20px;
                            vertical-align: middle;
                        }
                        .dowload {
                            color: #4d8cf4;
                        }
                    }
                }
            }
        } //分页
        .fenye {
            .page {
                padding: 30px 0;
                margin-left: 300px;
                li {
                    float: left;
                    padding: 5px 10px;
                    cursor: pointer;
                }
                .pageItem {
                    border: solid thin #DDDDDD;
                    margin: 5px;
                }
                .pageItem:hover {
                    border: solid thin #0099FF;
                    background-color: #0099FF;
                    color: white;
                }
                .pageItemActive {
                    border: solid thin #0099FF;
                    margin: 5px;
                    background-color: #0099FF;
                    color: white;
                }
                .pageItemDisable {
                    border: solid thin #DDDDDD;
                    margin: 5px;
                    background-color: #DDDDDD;
                }
            }
        }
    }